<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UsersDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\filip\source\repos\Course_Project\UsersDbDirectory\UsersDataBase.mdf;Integrated Security=True"/>
		<add name="AuctionsDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\filip\source\repos\Course_Project\AuctionsDbDirectory\AuctionsDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>